@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #0f0f0f;
}

.satoshi {
  font-family: 'Satoshi', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

html::-webkit-scrollbar {
  background: #0f0f0f;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #ff7a00;
  border-radius: 0.75rem;
}
